VITE_BACKEND_URL=http://localhost:5000/api


# Optional (only if you are using EmailJS for contact forms)
VITE_EMAILJS_SERVICE_ID=your_service_id
VITE_EMAILJS_TEMPLATE_ID=your_template_id
VITE_EMAILJS_PUBLIC_KEY=your_public_key

# Optional Google Sheet webhooks (Apps Script Web App URL)
VITE_GOOGLE_SHEET_WEBHOOK_DEFAULT=
VITE_GOOGLE_SHEET_WEBHOOK_CONTACT_FORM=
VITE_GOOGLE_SHEET_WEBHOOK_CALLBACK_MODAL=
VITE_GOOGLE_SHEET_WEBHOOK_PAYMENT_CLAIM=

